.statusBox {
  padding: 5px 10px;
  text-align: center;
}

.online {
  background-color: #00ff0028;
  color: green;
}

.offline {
  background-color: #ff000033;
  color: #df0505;
}

.hide {
  visibility: hidden;
}

.unhide {
  visibility: visible;
  display: block;
  height: 100%;
}
