.resultPage {
  grid-column: 2/-2;
  padding-bottom: 180px;
}

.result_header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.resultBody {
  margin-top: 68px;
}

.searchedWord {
  font-size: 56px;
  line-height: 64px;
  font-weight: normal;
  display: inline-block;
  align-items: center;
  margin-bottom: 88px;
}

.searchTag {
  color: var(--light-grey);
  font-weight: 48px;
  margin-left: 40px;
}

.searchTag span {
  text-transform: capitalize;
}

.iconBox {
  cursor: pointer;
}
